@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
     font-family: "Montserrat", sans-serif;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #000000;
    text-align: center;
    line-height: 1.25;
}


/* Navigation Bar */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background-color: #d8cdbf;
}

.nav__link--list {
  display: flex;
  list-style: none;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #ffd900;
  padding: 8px 20px;
  border-radius: 50px;
  color: #000000;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #eece1a;
}

.personal__logo {
  font-size: 40px;
  color: #000000;
  margin: 0 12px;
  font-weight: bold;
  font-family: 'Caveat', sans-serif;
}