@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
     font-family: "Montserrat", sans-serif;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #000000;
    text-align: center;
    line-height: 1.25;
}

.gold {
  color: #ffd900
}


/* Navigation Bar */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background-color: #d8cdbf;
}

.nav__link--list {
  display: flex;
  list-style: none;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #ffd900;
  padding: 8px 20px;
  border-radius: 50px;
  color: #000000;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #eece1a;
}

.personal__logo {
  font-size: 40px;
  color: #000000;
  margin: 0 12px;
  font-weight: bold;
  font-family: 'Caveat', sans-serif;
}

/* Header */

.header__description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header__img {
  width: 156px;
  height: 156px;
  border-radius: 9999px;
  margin-top: 24px;
}

.header__title {
  margin-top: 12px;
  font-size: 32px;
}

.header__para {
  max-width: 572px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  margin-top: 12px;
}

/* Footer */

footer {
  background-color: #d8cdbf;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 28px;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__logo--img {
  width: 200px;
  height: 200px;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #000000;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 85px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}